* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    'AF . . . .'
    'AF . . . .'
    'AF . . . . '
    'C C C C C'
    'C C C C C'
    'C C C C C';
  
}
